@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
  --black: #130f40;
  --orange: #ff7800;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  --border: 0.2rem solid rgba(0, 0, 0, 0.1);
  --outline: 0.1rem solid rgba(0, 0, 0, 0.1);
  --outline-hover: 0.2rem solid var(--black);
}

* {
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  transition: all .2s linear;
  font-family: "Poppins",sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

section,
footer {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  padding: 2rem 0 3rem;
  font-size: 3.5rem;
}

.btn {
  margin-top: 1.5rem;
  padding: 1rem 1.5rem;
  border: 0.2rem solid var(--black);
  font-size: 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background: none;
  color: var(--back);
}

.btn:hover {
  background: var(--orange);
  color: #fff;
}

body {
  background: #eee;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem!important;
  }

  section {
    padding: 2rem;
  }
}
@media (max-width:450px){

  html{
      font-size: 50%;
  }

  .heading{
      font-size: 2.5rem;
  }

  .footer{
      text-align: center;
  }

  .footer .box-container .box img{
      margin: 2rem auto;
  }

}